@import url("https://api.fontshare.com/v2/css?f[]=chillax");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

body {
    margin: 16px;
    background-color: #152a38;
    font-family: "Chillax", sans-serif;
    font-weight: 500;
    color: white;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nodes {
    display: flex;
    gap: 16px;
}

button {
    padding: 0 5px;
    border: 1px solid white;
    border-radius: 6px;
    font-weight: 450;

    &.active {
        border-color: rgb(75, 213, 144);
        color: rgb(75, 213, 144);
    }

    &.mute.active {
        border-color: rgb(225, 92, 80);
        color: rgb(225, 92, 80);
    }
}

.node {
    min-width: 120px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #29435c;
    border-radius: 8px;
    padding: 8px;
    padding-bottom: 12px;

    .name {
        text-align: center;
        font-size: 18px;
        white-space: nowrap;
    }

    .content {
        height: 100%;
        display: flex;
        gap: 8px;
        justify-content: space-evenly;
    }

    .volume {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 100%;
            height: 100%;
            display: flex;
        }

        input[type="range"] {
            width: 100%;
            margin: 12px 0;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            outline: none;
        }
    }

    .outputs {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}
